body{
    background-color: white;
}
header{
    display:flex; 
    justify-content: space-between;
    background-color: blue;
    padding: 20px;
}
.account{
    display: flex;
    gap: 20px;
}
.categories{

}
.categories ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:red;
}
